%h1{id: "heading"} HealthyU

%center
    %h2 Looking to lose weight? Or looking to get brawn and big? What would be more convenient other than knowing what muscle to work out and what food to eat? We're going to help you keep a record of your workout logs and the caloric intake as well as the macros you'll need to achieve your goal.

%br
%center
%table{:border => 0, id: "team"}
    %tbody
        %tr
            %th The Team
        %tr
            %td Mukul Batra
        %tr
            %td Steven Liounis
        %tr
            %td Renee Russo
        %tr
            %td Piruthviraj Angamuthu Selvaraju
        %tr
            %td Mei Sheinbaum

%br
        
%br
%center
    = link_to 'Exercises', exercises_path, {id: "links"} 

    = link_to 'Nutrition', nutritions_path, {id: "links"} 

