%h1{id: "heading"} HealthyU

%center
    %h2 Looking to lose weight? Or looking to get brawn and big? What would be more convenient other than knowing what muscle to work out and what food to eat? We're going to help you keep a record of your workout logs and the caloric intake as well as the macros you'll need to achieve your goal.

%br
%center
    = image_tag("homepage.jpg", :alt => "HealthyU") 

%br
%center
    = link_to '<button type="button">Login</button>'.html_safe, sessions_new_path

%br
%br
    = link_to "All Users", users_path 



