%h1{id: "heading"}About Us

%center
%table{:border => 0, id: "team"}
    %tbody
        %tr
            %th The Team
        %tr
            %td Mukul Batra
        %tr
            %td Steven Liounis
        %tr
            %td Renee Russo
        %tr
            %td Piruthviraj Angamuthu Selvaraju
        %tr
            %td Mei Sheinbaum