body{
    background-color: black;
    color: white;
}

hr{color:white;}

td#exer1{
    color:black;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
}

table#exer
{
   border-color: white;
   border-style: solid;
   border: 1px
   
    
}


table
{
    margin-left: auto;
 margin-right: auto;
}

#heading {
    text-align: center;
    font-size: 120px;
    color:white;
    
}

#newexer
{
  color: white;  
    text-decoration: none;
    margin-left: 0px;
}

#newexer:hover
{
  color: white;  
    text-decoration: underline overline;
    margin-left: 0px;
}

#exerh
{
    color: white;
    font-size: 80px;
    column-gap: normal;
    text-align: center;
    
    
}


a{ 
 color: white;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 400px;
 
 font-size: 30px;
  
    
}
